@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {  
    --max-width-desktop: 1440px;
    --max-width-mobile: 375px;

    --primary-1:hsl(31, 77%, 52%);
    --primary-2: hsl(184, 100%, 22%);
    --primary-3: hsl(179, 100%, 13%);
    --neutral-1: hsla(0, 0%, 100%, 0.75);
    --neutral-2: hsl(0, 0%, 95%);

    --border-radius: 1em;

    }

*{
    box-sizing: border-box;
}

html{ font-size: 15px;}

body{
   
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: var(--neutral-1);
}

a{
    text-decoration: none;
}

h1
{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.3em;
    color: var(--neutral-2);
    text-transform: uppercase;
}

img {
    width: 100%;
}

